body
{
    background-color: #3d2c12;
    font-family: 'MedievalSharp', cursive, "Goudy Old Style",Garamond,"Big Caslon","Times New Roman", serif;
    color: #28313a;
}

header
{
    background-color: #d1b77a;
}

main 
{
    background-color: #d3c8b4;
}

footer
{
    background-color: #053a70;
    color: #c95140;
}

table
{
    background-color: #d3c8b4;
}

input
{
    border: none;
    background-color: #d3c8b4;
}

input:hover
{
    background-color: #ccbea3;
}


/*Adds a fancy Google font to University of Virginia*/
#oldeUni
{
    font-family: 'UnifrakturMaguntia', "Goudy Old Style",Garamond,"Big Caslon","Times New Roman", serif;
    color: #ad3f26;
}

/* Adds color to the navbar */
.navColor {
    background-color: #f8f8f8;
}

#difformonks
{
    width:auto;
}

/*
    Colors:
    #3d2c12;
    #d1b77a;
    #053a70;
    #d3c8b4;
    #ccbea3;
    #d3c8b4;

    #f8f8f8

*/